<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://img.freepik.com/vector-gratis/diseno-icono-degradado-logotipo-empresa-moderna_53876-120504.jpg?w=826&t=st=1693366444~exp=1693367044~hmac=8dd716f6cb7664515a66c4f2707df8c484eaa72ae861ea2283305a6fb211f7ae" alt="" width="32" height="32" class="rounded-circle me-2">
      School Montellano
    </a>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>

    <div class="nav justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a   class="nav-link" href="#">Sign in</a>
        </li>
        <li class="nav-item">
          <a  class="btn btn-outline-dark" href="<%= '/students/new' %>">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
  
  
  
  <br><br>
  <a href="<%= '/students' %>">All Students</a> <br><br>
  <a href="<%= '/admin' %>">Administrator</a>

    